<h3>Search Form</h3>

<form action="/local-api/search" method="post">
    <h5>TRADE</h5>
    <select placeholder="Trade" name="trade">
        <option value="plumber">Plumber</option>
        <option value="builder">Builder</option>
        <option value="cleaner">Cleaner</option>
    </select>

    <h5>SPECIALIATION</h5>
    <select placeholder="Specialisation" name="specialisation">
        <option value="123">123</option>
        <option value="234">234</option>
        <option value="345">345</option>
    </select>

    <h5>LOCATION</h5>
    <input type="text" name="location">

    <h5>RATING</h5>
    <input type="text" name="rating">

    <input type="submit">
</form>
